@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

.expert{
    background-color: orange;
    color: black;
}

.intermediate{
    background-color: yellow;
    color: black;
}

.bg{
    background-color: rgba(140, 128, 130, 0.3);
    padding: 5px;
    border-radius: 5px;
}


#about  {
    
    background-image: url("../img/back.jpeg");
    background-size:contain;
    background-repeat: no-repeat;
    background-color: black;
    /* background-color: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(0,0,0,1) 100%); */


    /* background: rgb(34,193,195); */
}

#experience {
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(153,0,208,1) 100%);
}

.text{
    color: rgb(223 108 108);
}

.white{
    color: #c1c1c1;
}

.red{
    color: black;
}


#experience{
    background-image: linear-gradient( 83.2deg,  rgba(150,93,233,1) 10.8%, rgba(99,88,238,1) 94.3% );
}

#education{

    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(233,14,14,1) 0%, rgba(63,47,47,1) 90% );
}

.headColor{
    color: #c2c9d0;


}

/* #c2c9d0 */
#skills{
    background: rgb(77,121,9);
    background: linear-gradient(90deg, rgba(77,121,9,1) 26%, rgba(0,78,255,1) 100%);

}

.pureWhite{
    color: white;
    
}

#interests{
    background: rgb(127,226,166);
background: linear-gradient(90deg, rgba(127,226,166,0.49653364763874297) 26%, rgba(0,250,255,1) 100%);
}


.navbar{
    background-color: #820f0f;
}

.name{
    position: relative;
    color: blueviolet;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.3));

}


.name span {
    position: relative;
    display: inline-block;
    animation: flip 1s infinite;
    animation-delay: calc(.2s * var(--i));
    margin-inline: -5px;

  }
@keyframes flip {
    0%,40%,100% {
        transform: translateY(0)
      }
      20% {
        color: yellowgreen;
        /* transform: translateY(-10px) */
      }
  }

  .animehead{

    background-color: #820f0f;
    position: relative;

  }

@media only screen and (max-width: 600px) {
        
    .marg{
        margin-top: -73px;
    }

}

  .animehead h2{
    position: absolute;
  }

  .animehead h2:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px rgb(87 5 65);;
  }
  .animehead h2:nth-child(2) {
    color: rgb(0 0 0);;
    animation: animate 4s ease-in-out infinite;
  }

  @keyframes animate {
    0%,
    100% {
      clip-path: polygon(
        0% 45%,
        16% 44%,
        33% 50%,
        54% 60%,
        70% 61%,
        84% 59%,
        100% 52%,
        100% 100%,
        0% 100%
      );
    }
  
    50% {
      clip-path: polygon(
        0% 60%,
        15% 65%,
        34% 66%,
        51% 62%,
        67% 50%,
        84% 45%,
        100% 46%,
        100% 100%,
        0% 100%
      );
    }
  }
